.App-sub-container {
  min-height: 95vh !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' fill-opacity='0.5' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

.home-title {
  padding: 1rem 0 0 1rem;
}

.display-container {
  display: flex;
  justify-content: first baseline;
  flex-wrap: wrap;
}

.display-container .card {
  width: 30%;
  margin: 1rem;
  transition-duration: 200ms;
  box-shadow: 5px 5px 15px -5px #000000;
  transition-timing-function: ease-in-out;
}

.display-container .card:hover {
  transform: scale(1.015);
}

.this-container {
  margin: 0 6rem;
}

.display-container-2 {
  display: flex;
  justify-content: first baseline;
  width: 95%;
  margin: 0 auto;
}

.display-container-2 .card {
  width: 50%;
  margin: 1rem;
  box-shadow: 5px 5px 15px -5px #000000;
}

.display-container-2 .card img {
  border-radius: 0.3rem;
}

.product-description,
.cart-container {
  margin: 1rem;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.product-details {
  margin: 1rem;
}

table caption {
  padding: 1rem 0.5rem;
}

table .card {
  display: flex !important;
  align-items: center !important;
}

.this-td {
  width: 50%;
}

.content {
  padding: 1rem;
  box-shadow: 2px 2px 10px -5px #000000;
}

table tr {
  width: fit-content;
  margin: auto;
}

.other-td {
  padding: 3rem 0;
  width: fit-content !important;
  margin: auto;
}

.qty-container {
  margin: 0 0.5rem;
  width: 25%;
}

.qty-control:hover {
  cursor: pointer;
}

.review-card {
  margin: 1rem auto;
  box-shadow: 2px 2px 10px -5px #000000;
}

.review-form {
  padding: 1rem;
  margin: auto;
  box-shadow: 2px 2px 10px -5px #000000;
}

.floating-textarea {
  height: 150px !important;
}

.divider {
  border: 1px dashed black !important;
}

.divider-2 {
  padding: 0;
  margin: 0;
}

.navbar-main {
  box-shadow: 0px 10px 10px -8px #000000, 2px 2px 10px -5px rgba(0,0,0,0);
}
