.App-sub-container {
  min-height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' fill-opacity='0.5' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

.home-title {
  padding: 3rem 1rem 1rem 1rem;
  text-align: center;
}

.display-container {
  display: flex;
  justify-content: first baseline;
  flex-wrap: wrap;
}

.display-container .card {
  width: 30%;
  margin: 1rem;
  box-shadow: 5px 5px 15px 5px #000000;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.display-container .card:hover {
  transform: scale(1.015);
}

.this-container {
  margin: 0 6rem;
}

.display-container-2 {
  display: flex;
  justify-content: first baseline;
  width: 95%;
  margin: 0 auto;
}

.display-container-2 .card {
  width: 50%;
  margin: 1rem;
  box-shadow: 5px 5px 15px 5px #000000;
}

.display-container-2 .card img {
  border-radius: 0.3rem;
}

.product-description,
.cart-container {
  margin: 1rem;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.product-details {
  margin: 1rem;
}

table caption {
  padding: 1rem 0.5rem;
}

table .card {
  display: flex !important;
  align-items: center !important;
}

.this-td {
  width: 50%;
}

.content {
  padding: 1rem;
  /* background-color: #ffffff; */
}
